<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memory Umbrella One</title>
  <link rel="icon" type="image/png" href="./img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MU" />
  <link rel="manifest" href="./img/favicon/site.webmanifest" />
  <meta name="description" content="Descubre la nueva sombrilla inteligente Memory Umbrella 1, la sombrilla con Bluetooth 4.0 que te envia alertas cuando la olvidas. Experimenta una calidad de audio excepcional y comodidad durante todo el día." />
  <meta name="keywords" content="Memory Umbrella One, sombrilla inteligente, sombrilla linterna, alta fidelidad, tecnología del dia a dia, gatgets" />
  <link rel="stylesheet" href="./css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <a href="https://memory-umbrella.vercel.app/">
        <img style="height: 60px;" src="./img/memory_umbrella_logo.png" alt="Memory Umbrella Logo">
      </a>
    </div>
    <nav>
      <a href="/productos">Productos</a>
      <a href="/precios">Precios</a>
      <a href="./">Overview</a>
      <a href="#">Contacts</a>
    </nav>
  </header>

  <!-- Sección 1 -->
  <section class="hero">
    <div class="text">
      <h1>Error</h1>
      <p>La pagina que buscas no se encuentra o está en construcción.</p>
    </div>
    <div class="image">
      <img style="height: 200px; width: 200px;" src="./img/error.png">
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="contacto">
    <p>© 2025 Memory Umbrella</p>
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="pixel-perfect icons">icons created by Pixel perfect - Flaticon</a>
  </footer>
</body>
</html>
