<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memory Umbrella One</title>
  <link rel="icon" type="image/png" href="./img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MU" />
  <link rel="manifest" href="./img/favicon/site.webmanifest" />
  <meta name="description" content="Descubre la nueva sombrilla inteligente Memory Umbrella 1, la sombrilla con Bluetooth 4.0 que te envia alertas cuando la olvidas. Experimenta una calidad de audio excepcional y comodidad durante todo el día." />
  <meta name="keywords" content="Memory Umbrella One, sombrilla inteligente, sombrilla linterna, alta fidelidad, tecnología del dia a dia, gatgets" />
  <link rel="stylesheet" href="./css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <a href="https://memory-umbrella.vercel.app/">
        <img style="height: 60px;" src="./img/memory_umbrella_logo.png" alt="Memory Umbrella Logo">
      </a>
    </div>
    <nav>
      <a href="./productos">Productos</a>
      <a href="./error">Precios</a>
      <a href="./error">Overview</a>
      <a href="./error">Contacts</a>
    </nav>
  </header>

  <!-- Sección 1 -->
  <section class="hero">
    <div class="text">
      <h1>Memory<br>Umbrella One</h1>
      <p>“Un producto del día a día convertido en un producto multifuncional.”</p>
    </div>
    <div class="image">
      <img src="./img/memory_umbrella_open_2.png" alt="Memory Umbrella One">
    </div>
  </section>

  <!-- Sección 2 -->
  <section class="feature reverse">
    <div class="image">
      <img src="./img/Imagen1.png" alt="Memoriy Umbrella case">
    </div>
    <div class="text">
      <h2>Sounds like<br>an epiphany</h2>
      <p>Industry-leading Active Noise Cancellation counters external sound with equal anti-noise, allowing you to immerse yourself in what you’re listening to.</p>
      <p>Press the noise control button to switch to Transparency mode, which lets outside sound in so you can interact naturally with your surroundings.</p>
    </div>
  </section>

  <!-- VIDEO -->
  <section class="video-section">
    <h2>Conoce más</h2>
    <br>
    <div class="video-box" style="width: 100%; justify-content: center;">
      <video style="height: 500px;" src="./videos/memory-umbrella.mp4" allowfullscreen controls autoplay></video>
    </div>
  </section>

  <!-- Sección 3 -->
  <section class="feature reverse">
    <div class="text">
      <h2>Magical<br>experience</h2>
      <p>AirPods Max inherit all of the wireless, effortless magic of the AirPods family. From setup to Siri commands, they make the listening experience completely fluid — day to day, device to device.</p>
    </div>
    <div class="image">
      <img src="./img/Imagen2.png" alt="AirPods Max case">
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="contacto">
    <p>© 2025 Memory Umbrella</p>
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="pixel-perfect icons">icons created by Pixel perfect - Flaticon</a>
  </footer>
</body>
</html>
