<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memory Umbrella</title>
  <%- include('components/head-metadata'); %>
  <link rel="stylesheet" href="./css/error.css".css">
</head>
<body>
  <%- include('components/navbar'); %>

  <!-- Sección 1 -->
  <section class="hero">
    <div class="text">
      <h1 class="error-text">Error</h1>
      <p>La pagina que buscas no se encuentra o está en construcción.</p>
    </div>
    <div class="image">
      <img src="./img/error.png">
    </div>
  </section>

  <!-- FOOTER -->
  <%- include('components/footer'); %>
</body>
</html>
