<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MU App</title>
  <link rel="icon" type="image/png" href="./img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MU" />
  <link rel="manifest" href="./img/favicon/site.webmanifest" />
  <meta name="description" content="Descarga la app oficial de Memory Umbrella, descrubre sus caracteristicas y toma el control de tu Memory Umbrella 1." />
  <meta name="keywords" content="Memory Umbrella App, sombrilla inteligente, alta fidelidad, tecnología del dia a dia, gatgets" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/download.css">
</head>
<body>
  
  <!-- HEADER -->
   <header class="navbar">
    <div class="logo">
      <a href="https://memory-umbrella.vercel.app/">
        <img style="height: 60px;" src="./img/memory_umbrella_logo.png" alt="">
      </a>
    </div>
    <nav>
      <a href="/productos">Productos</a>
      <a href="/precios">Precios</a>
      <a href="./">Overview</a>
      <a href="#">Contacts</a>
    </nav>
  </header>

  <!-- FEATURES -->
  <section id="features" class="features">
    <h2>Productos</h2>
    <br>
    <div class="cards">
      <div class="card product">
        <img src="./img/memory_umbrella_case.png" alt="Memory Umbrella One">
        <h3><a href="./">Memory Umbrella 1</a></h3>
      </div>
      <div class="card product">
        <img src="./img/favicon/favicon.svg" alt="Memory Umbrella App">
        <h3><a href="./download">Memory Umbrella APP</a></h3>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="contacto">
    <p>© 2025 Memory Umbrella</p>
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="pixel-perfect icons">icons created by Pixel perfect - Flaticon</a>
  </footer>
</body>
</html>
