<footer id="contacto">
    <p>© 2025 Memory Umbrella</p>
    <a class="micro-text" href="https://www.flaticon.com/authors/pixel-perfect" title="pixel-perfect icons">icons created by Pixel perfect - Flaticon</a>
</footer>