<header class="navbar">
    <div class="logo">
      <a href="https://memory-umbrella.vercel.app/">
        <img style="height: 60px;" src="./img/memory_umbrella_logo.png" alt="Memory Umbrella Logo">
      </a>
    </div>
    <nav>
      <a href="./productos">Productos</a>
      <a href="./about">Nosotros</a>
    </nav>
  </header>